{% extends 'base.html' %}

{% block title %}Email yuborildi{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <div class="alert alert-success text-center" role="alert">
                    <h4 class="alert-heading">Email yuborildi!</h4>
                    <p>Kalit so'zingizni tiklash uchun qo'llanma email manzilingizga yuborildi.</p>
                    <hr>
                    <p class="mb-0">Iltimos, email manzilingizni tekshiring.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
