{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Yangi kalit so'z kiriting{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <div class="card shadow-sm border-primary">
                    <div class="card-header bg-primary text-white">
                        <h3 class="mb-0">Yangi kalit so'z kiriting!</h3>
                    </div>
                    <div class="card-body">
                        <p class="lead">Quyida yangi kalit so'zingizni kiriting va o'zgartiring.</p>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-success btn-block mt-3" type="submit">O'zgartirish</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
