{% extends 'base.html' %}

{% block title %}Kalit so'z yangilandi{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-12">
                <div class="alert alert-success text-center" role="alert">
                    <h4 class="alert-heading">Kalit so'z yangilandi!</h4>
                    <p class="mb-0">Yangi kalit so'z bilan saytga kirishingiz mumkin.</p>
                    <hr>
                    <p class="mb-0">
                        <a class="btn btn-primary" href="{% url 'login' %}" role="button">Saytga kirish</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
